<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="ClientId" value="105157119692-93s878j0janak2vt152kka1ue5u0m7c8.apps.googleusercontent.com" />
      <add key="ClientSecret" value="" />
      <add key="RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
      <add key="Scope" value="https://spreadsheets.google.com/feeds https://docs.google.com/feeds" />
      <add key="SpreadsheetSRF" value="1NszLCMS-70dFYkHucsbse1LJTFZHFJHA1icAAAQb8Y4" />
      <add key="SpreadsheetSubmissions" value="1bc6FIPyVN_9bG8zCSMC71HrQP_jMGshtFXDwsb6t-mg" />
      <add key="AccessToken" value="ya29.GAJ-IiZzFm7at7--yi69wFmc8q-Xuox-UGGF71ePa6-r8_GD86XNXOkgfv7VqFXwwPJj"/>
      <add key="RefreshToken" value="1/7fu4_9kKJaIU6mAO2OXnl5SI0d56oRFf2OhcQw7vAthIgOrJDtdun6zK6XiATCKT"/>
    </appSettings>
</configuration>